html, body, #app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: -1px;  /* this is to remove scrollbar at the bottom of the page. */
  padding: 0;
  width: 99.9%;
  font-family: 'Nanum Gothic', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* lock at set width to prevent app resizing when window is resized */
/* currently at 1040px */
#app {
  width: 1040px;
  border: none;
}

/* GLOBAL VARIABLES */

:root {
  --mustard: #FFDB58;
  --mustard-shadow: #d09821;
  --global-border-color: rgb(125, 125, 125);

  /* RELATED PRODUCTS */
  --prod-card-width: 23%;
  --prod-card-height: 300px;
  --prod-card-margins: 0px 10px;
  --prod-img-height: 200px;
  --prod-img-background-color: rgb(180, 180, 180);
  --comparison-width: 500px;

   /* PRODUCT OVERVIEW */
  --po-info-margin: 0px 20px 0px 20px;
  --po-info-text-padding: 0px 0px 0px 10px;

}

/* .module_cointainer is only temporary. Feel free to mod yours as you see fit. */


.module_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}


/* *** TEMP TOP BANNER *** */

#top_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#top_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  color: white;
  background-color: #555555;
  background: var(--mustard-shadow);
}

#top_bar h3 {
  margin: 0px 10px;
}

.top_text {
  font-family: 'Comforter Brush', cursive;
  font-size: 64px;
}

#announcements {
  margin: 12px;
  font-size: 16px;
}



/*todo *** *** *** *** *** *** *** *** PRODUCT OVERVIEW *** *** *** *** *** *** *** *** */

#product_overview_main {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
}

.top01 {
  display: flex;
  width: 100%;
  height: 70%;
}


/*todo *** *** *** *** image gallery *** *** *** *** */
.image_container_po {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
}

.image_gallery_po {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

.main_image_po {
 object-fit: cover;
 width: 100%;
 height: 100%;
}

.thumbnails_bar_po {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.thumbnails_po {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  width: 100%;
  flex-flow: wrap;
  height: 415px;
  overflow: overlay;
}

.thumbnails_po::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.thumbnail_select_po {
  width: 50px;
  height: 50px;
  margin: 5px 0px;
  z-index: 5;
}

.thumb_selected_po {
  box-shadow: 0 0 0 4px var(--mustard);
}

.thumbnail_frame_po {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
}


.thumbnail_box_po {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

#arrow_up_po, #arrow_down_po {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 15px;
  margin: 5px 0px;
  overflow: hidden;
  transform: scale(2.5, 1);
}

#arrow_up_po {
  margin: 5px 0px 5px;
}

.ri-arrow-up-s-fill, .ri-arrow-down-s-fill {
  color: white;
  font-size: 24px;
}

.arrow_po {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5%;

}

.arrow_left_po, .arrow_right_po {
  height: 30px;
}


.ri-arrow-left-s-line, .ri-arrow-right-s-line {
  color: white;
  font-size: 36px;
}

.arrow_space_po {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
  cursor: zoom-in;

}

.space01_po {
  cursor: zoom-in;
  /* position: relative;
  top: 0px;
  z-index: 3; */
}

/*todo *** *** *** *** expanded image *** *** *** *** */

.fullscreen_exp_po {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(196, 167, 5, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.main_image_exp_po {
  background-image: '';
  height: 100%;
  /* careful with this attribute. messes up scroll position */
  position: static;
  display: flex;
  flex-direction: row;
 align-items: center;
  z-index: 4;
}

.arrow_box_exp_po {
  background-color: rgba(0, 0, 0, 0.5);
  height: 160px;
  width: 25px;
  position: relative;
  z-index: 7;
  display:flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.image_side_po {
  position: relative;
  z-index: 3;
  height: 100%;
  width: 40%;
  cursor: pointer;
}

.inner_image_exp_po {
  height: 100%;
  z-index: 4;
}

.image_icons_exp_po{
  /* color: white; */
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 5%;
  left: 0;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.image_icon_bar_po {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.image_icon_po {
  background-color: var(--mustard);
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin: 0px 10px;
}

.txt {
  position: absolute;
  z-index: 6;
  right: 0;
  bottom: 10%;
  left: 0;
  color: white;
  font-size: 40px;
  text-align: center;
  cursor: default;
  margin: 0px;
  line-height: 16px;
}


.space01_po {
  width: 80%;
}

.right02 {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: flex-end; */
  width: 40%;
  /* height: 100%; */
}

/*todo *** *** *** *** stars *** *** *** *** */
.stars_po {
  display: flex;
  flex-direction: row;
  height: 10%;
  margin: var(--po-info-margin);
  padding: var(--po-info-text-padding);
  align-items: end;
}

.read_reviews_po {
  margin: 0px 10px;
}

/** product name **/
.name_block_po {
  height: 25%;
  margin: var(--po-info-margin);
}

#name_po {
  font-family: 'Bungee Shade', cursive;
  font-weight: 800;
  font-size: 35px;
  margin: 0px;
}

.price_po {
  height: 5%;
  padding: var(--po-info-text-padding);
  margin: var(--po-info-margin);
}



/*todo *** *** *** *** product style *** *** *** *** */

.style_po {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 35%;
  margin: var(--po-info-margin);

}

.style_text_po {
  display: flex;
  height: 35px;
  width: 100%;
  align-items: center;
}

.text_po {
  padding: 0px;
  margin: 0px;
  padding: var(--po-info-text-padding);
}

.style_row_thumbnail_po {
  height: 130px;
  width: 270px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  overflow: overlay;
  padding: 0px 10px;
}

.style_thumb_container_po {
position: relative
}

.style_selected_po {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: var(--mustard);
  position: absolute;
  right: 4px;
  top: 4px;
}

.style_thumbnail_po {
  height: 50px;
  width: 50px;
  border-radius: 13px;
  margin: 5px;
  object-fit: cover;
}

.style_checkmark_po {
  font-size: 18px;
  position: relative;
  top: -21px;
  right: 3px;
}

/*todo *** *** *** *** add to bag *** *** *** *** */

.add_to_bag_po {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 22%;
  width: 300px;
  margin: 0px 5px;
}

.add_to_bag_top_po {
  height: 50%;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

/*todo ** ** ** ** ** ** ** ** ** ** CHANGES HERE ** ** ** ** ** ** ** ** ** ** **/

.size_menu_po {
  grid-column: 2 / 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  height: 25px;
  margin: 10px 0px;
  border-radius: 4px;
  border: solid 1px black;
}

.size_display_po {
  display: inherit;
  justify-content: center;
  align-items: inherit;
  width: 100%;
  margin: 4px;
  /* border-radius: 4px;
  border: solid 1px black; */
}

.size_body_po {
  background: gray;
  color: white;
  display: inherit;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 20px;
}

.out_of_stock_po {
  background: lightgrey;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  width: 100%;
  height: 25px;
  margin: 4px;
}

.quantity_menu_po {
  grid-column: 8/ 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  height: 25px;
  margin: 10px 0px;
  border-radius: 4px;
  border: solid 1px black;
  /* justify-content: center; */
}

.quantity_display_po {
  display: inherit;
  justify-content: center;
  align-items: inherit;
  width: 100%;
  margin: 4px;
}

.quantity_body_po {
  background: gray;
  color: white;
  display: inherit;
  align-items: center;
  justify-content: center;
 width: 80%;
 height: 20px;
}

.add_to_bag_bottom_po {
  height: 50%;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.add_to_bag_bottom_left_po {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.add_to_bag_button_po {
  grid-column: 2 / 6;
  /* width: 130px; */
  height: 50%;
  margin: 10px 0px;
}

.size_alert_po{
  visibility: hidden;
  position: absolute;
  top: -12px;
  left: 23px;
  z-index: 3;
  background: var(--mustard);
  padding: 0px 5px;
  border-radius: 4px;
  border: solid 2px var(--mustard-shadow);
  width: 150px;
  text-align: center;
}

.favorites_add_button_po {
  grid-column: 7 / 10;
  /* width: 95px; */
  height: 50%;
  margin: 10px 0px;
  /* height: 25px; */
  border-radius: 4px;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ri-star-line {
  font-size: 24px;
}

.favorites_on_po {
  color: var(--mustard-shadow);
  font-size: 24px;
  background: var(--mustard);
  border: solid 1px var(--mustard-shadow);
}

.favorites_off_po {
  color: gray;
  font-size: 24px;
  background: lightgrey;
  border: solid 1px black;
}

/*todo *** *** *** *** description and features *** *** *** *** */

.bottom01 {
  display: flex;
  width: 100%;
  height: 30%;
}

.product_desc_po{
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-items: right;
  width: 60%;

}

.highlights_po {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 30px 10px;

}
/*todo *** *** *** *** *** *** *** *** END PRODUCT OVERVIEW *** *** *** *** *** *** *** *** */


/* *** RELATED *** */

#related-main h3 {
  align-self: flex-start;
  margin-left: 10px;
  border-style: none;
  color: var(--global-border-color);
}

.related-submodule {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  width: 1116px;
}

.related-submodule-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  width: 100%;
}

.prod-cards-container {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
}

.prod-cards-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  border: none;
  width: 100%;
}

/* change width if needed */
.prod-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--prod-card-width);
  height: var(--prod-card-height);
  margin: var(--prod-card-margins);
  flex: 0 0 auto;
  border: 1px solid var(--global-border-color);
}

.prod-card:hover {
  background: var(--mustard);
}

.prod-card-wrapper {
  width: 100%;
  border: none;
}

.prod-card-wrapper button {
  -webkit-appearance: none;
  background: none;
  fill: none;
  border-style: none;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-family: inherit;
}

.prod-card-info-wrapper {
  margin: 5px;
  border: none;
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
}

.prod-card-info-wrapper div {
  border: none;
}

.prod-card-category {
  text-transform: uppercase;
  color: var(--global-border-color)
}

.prod-card-name {
  font-weight: 700;
  font-size: 18px;
}

.sale-price {
  color: red;
  font-weight: 700;
}

.sale-price span {
  margin: 0px 5px;
  font-weight: 400;
  text-decoration: line-through;
  color: black;
}

.prod-card-img-wrapper {
  width: 100%;
  height: var(--prod-img-height);
  background: var(--prod-img-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.prod-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

.prod-card-no-img {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
}

.action-button-wrapper {
  width: 27px;
  height: 0px;
  position: sticky;
  align-self: flex-end;
  border: none;
}

.action-button {
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  fill: none;
  color: var(--mustard);
  border-style: none;
  cursor: pointer;
}

.add-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--prod-card-width);
  height: var(--prod-card-height);
  box-sizing: border-box;
  padding: 10px;
  margin: var(--prod-card-margins);

  text-align: center;
  font-size: 24px;
  color: white;
  background: var(--prod-img-background-color);
}

.nav-button {
  align-self: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  fill: none;
  border-style: none;
  cursor: pointer;
  font-size: 25px;
}

.prod-comparison-wrapper {
  position: fixed;
  width: var(--comparison-width);
  z-index: 1;

  background-color: rgba(255, 255, 255, 0.804);
  backdrop-filter: blur(5px);
  text-align: center;
  pointer-events: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  width: 33%;
}

/* *** QUESTIONS/ANSWER *** */

.qa-title {
  width: 100%;
  margin-left: 0px;
  font-size: 18px;
}

.qa-search {
  width: 100%;
  margin-left: 0px;
}

.qa-list {
  display: flex;
  width: 100%;
  margin-left: 0px;
}

.search {
  margin-left: 0px;
  height: 50px;
  width: 100%;
}

.questionsAndAnswers {
  width: 100%;
  border: none;
}

.questionButtonContainer {
  display: flex;
  width: 50%;

}

.questionButton {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
  font-weight: bold;
  width: 50%;
  height: 50px;
  background-color: white;
  padding: 0px;
}

.questionDisplay {
  width: 100%;
}

.questionList {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  border: none;
  padding-bottom: 15px;
}

.singleQuestion {
  width: 700px;
  border: none;
  padding-bottom: 15px;
  padding-top: 10px;
}

.questionEntry {
  display: flex;
  flex: auto;
  font-weight: bold;
  font-size: 20px;
  border-top: solid;
  width: 100%;
}

.question-meta {
  display: flex;
  font-size: 13px;
  margin-left: 10px;
  padding-top: 10px;
}

.questionHelpful {
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  flex: auto;
  border: none;
  background-color: white;
  text-align: right;
  margin-top: 0px;
  width: 150px;
}

.addAnswer {
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  flex: auto;
  border: none;
  background-color: white;
  text-align: left;
  margin-top: 0px;
  width: 150px;
}

.answer-meta-helpful {
  font-family: 'Nanum Gothic', sans-serif;
  border: none;
  background-color: white;
  text-align: left;
  margin-top: 0px;
  padding: 0px;
  width: 110px;
}
.answer-meta-report {
  font-family: 'Nanum Gothic', sans-serif;
  border: none;
  background-color: white;
  text-align: left;
  margin-top: 0px;
  padding: 0px;
  width: 50px;
}

.answer {
  display: flex;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  border: none;
}

.answerEntry {
  margin-left: 3px;
  width: 95%;
  font-weight: normal;
  font-size: 18px;
  border: none;
}

.singleAnswer {
  margin-left: 3px;
  width: 95%;
  font-weight: normal;
  font-size: 18px;
  border: none;
  padding-bottom: 25px;
}

.answer-meta {
  display: flex;
  font-size: 13px;
  border: none;
}

.seller {
  font-weight: bold;
}

.expandCollapseAnswers {
  border: none;
  font-weight: bold;
  margin-left: 28px;
  padding-bottom: 20px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal-content {
  font-size: 15px;
  width: 700px;
  height: 700px;
  background-color: white;
}

.modal-header {
  flex-direction: row;
  padding: 10px;
  text-align: left;
}

.modal-footer {
  padding: 10px;
  text-align: left;
}

.modal-footer-button {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 15px;
  font-weight: bold;
  width: 50%;
  height: 100px;
  background-color: black;
  color: white;
  padding: 0px;
}

.submit-button {
  padding-top: 20px;
}

.answer-thumbnail {
  height: 50px;
}

.question-error {
  padding-top: 0px;
}

.error {
  color: red;
  padding-top: 20px;
}

.modal-title {
  margin: 0;
}

.modal-subtitle {
  margin: 0;
  font-weight: bold;
}

.close-modal-button {
  margin-left: 650px;
  display: flex;
  background-color: white;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

textarea {
  font-family: 'Nanum Gothic', sans-serif;
  resize: none;
  overflow: auto;
}

.add-question-body {
  font-weight: bold;
  border: none;
  padding-bottom: 10px;
  text-align: left;
}

.add-question-nickname {
  font-weight: bold;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-question-email {
  font-weight: bold;
  text-align: left;
  padding-top: 10px;
}

.add-answer-body {
  padding-bottom: 10px;
  text-align: left;
}

.add-answer-nickname {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-answer-email {
  text-align: left;
  padding-bottom: 10px;
}

.disclaimer {
  font-size: 13px;
  border: none;
}

.thumbnails {
  display: flex;
}


/* *** RATINGS/REVIEWS *** */

#ratings_reviews {
align-items: flex-start;
height: 650px;
border: none;
}

.reviews {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 650px;
  margin-left: 40px;
  border: none;
  text-align: left;
  justify-content: center;
  align-content: center;
}

.reviewsTitle {
  border: none;
  margin-left: 85px;
  border-style: none;
  color: var(--global-border-color);
}

.reviewsList_container {
  display: flex;
  flex-direction:column;
  width: 700px;
  height: 580px;
  border: none;
  margin-top: 10px;
  margin-left: 40px;
}

.ratings_container {
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 220px;
  height: 500px;
  color: rgb(59, 58, 58);
  border: none;
  margin: 31px 40px 0px 50px;
}

.ratingsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  width: 210px;
}

.sortByWrapper {
 text-align: left;
}

.sortBy {
  border: none;
  font-size: 18px;
  font-weight: bolder;
  text-align: left;
  margin-bottom: 20px;
}

.sortByButton {
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.reviewEntry_container {
  width: 100%;
  /* height: 80%; */
  overflow-y: scroll;
  border: none;
  margin-bottom: 10px;
}

.reviewEntry {
  border: none;
  border-bottom: 1px solid;
  margin-top: 7px;
  margin-right: 7px;
}

.wrapper_RT {
  display: flex;
  justify-content: space-between;
}

.starRating {
  font-size: 12px;
  color: var(--global-border-color);
}

.name_date_RT {
  display: flex;
  font-size: 11px;
  color: rgb(179, 130, 130);
}

.reviewBody {
  display: flex;
  flex-direction: column;
}

.reviewBody .reviewThumbnail {
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.reviewThumbnail:hover {
  transform: scale(1.5) ;
}

.reviewButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
}

.reviewSummary {
  font-weight: bold;
  margin: 20px 0px 20px 0px;
}

.reviewBody {
  font-size: 13px;
}

.bodyDisplayButton {
  text-align: center;
  margin-bottom: 10px;
}

.recommendWrapper {
  display: flex;
  flex-direction: row;
  margin: 8px 0px 8px 0px;
}

.footerWrapper {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  margin-right: 10px;
}

.helpful {
  font-size: 13px;
  margin-right: 10px;
}

.report {
  margin-left: 10px;
}

.response {
  background-color: lightgray;
}

.overall {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 180px;
  color: rgb(77, 63, 63);
  justify-content: center;
  align-items: center;
  border: none;
}

.reviewListButton {
  border-radius: 5px;
  color: rgb(22, 20, 20);
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  height: 60px;
  width: auto;
  margin: 0px 20px 5px 0px;
  text-transform: uppercase;
}

.reviewListButton:hover {
  background: #fff;
  color: #648880;
}

.starScale {
  margin: 10px;
}

.starBreakdown {
  margin-top: 20px;
  height: 150px;
  width: 240px;
  overflow-y: scroll;
  border: none;
}

.productBreakdown {
  display: flex;
  flex-direction: column;
  height: 300px;
  font-size: 10px;
  border: none;
  overflow-y: scroll;
}

.starTotalReviews {
  font-size: 10px;
  margin-left: 4px;
  color: rgb(192, 159, 159);
}

.overallRating {
  display: flex;
  flex-direction: row;
  font-size: 55px;
  font-weight: 900;
  border: none;
}

.starScale {
  font-size: 15px;
}

.star {
  font-size: 75%;
  display: flex;
  flex-direction: row;
  width: 100%;
  border: none;
  height: 15px;
  justify-content: center;
  text-align: center;
  margin-top: 13px;
}

progress {
  border-radius: 7px;
  margin-top: 5px;
  margin-left: 5px;
  height: 7px;
  width: 68%;
}

.numReviews {
  margin-bottom: 30px;
}

progress::-webkit-progress-bar {
  background-color: rgb(143, 143, 129);
}

progress::-webkit-progress-value {
  background-color: rgb(0, 0, 0);
}

.stars-outer {
  border: none;
  position: relative;
  display: inline-block;
}

.stars-inner  {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.stars-outer::before {
  content: '\f18b \f18b \f18b \f18b \f18b';
  font-family: 'remixicon' !important;
}

.stars-inner::before {
  content: '\f186 \f186 \f186 \f186 \f186';
  font-family: 'remixicon' !important;
}
.breakdownIcon::before{
  content: '\ea4d';
  font-family: 'remixicon' !important;
  position: absolute;
  /* left: 100px; */
  z-index: 3;
 }

 .breakdownIcon {
   position: absolute;
   bottom: 12px;
   font-size: 15px;
 }

.filter {
  border: none;
  display: flex;
  flex-direction: row;
  margin-left: 75px;
}

.filterMessage {
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  font-style: italic;
  color: rgb(128, 124, 124);
}

.numStar {
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 12px;
}

.numStar:hover {
  background-color: lightskyblue;
}

.charRatingEntry {
  border: none;
  font-size: 12px;
  width: 240px;
  margin: 12px 0 12px 0;
  position: relative;
}

.characteristicName {
  margin: 9px;
}

.pBreakdownScale {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 210px;
  margin: 4px 10px 0px 10px;
  border: none;
}

.innerBar {
  position: relative;
  width:70px;
	height:6px;
  margin-right: 4px;
  background-color: lightgray;
  font-size: 10px;
}

.indicator {
  position: absolute;
  bottom: 10%;
}

.meaning  {
  margin-top: 5px;
}

.second {
  text-align: center;
}

.last {
text-align: right;
}

.percentRecommend {
  font-size: 12px;
  width: 220px;
}

.reviewThumbnailContainer {
  display: flex;
  flex-direction: row;
}

.img_modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(87, 59, 59, 0.938);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  z-index: 2;
}

.exitModal {
  position: absolute;
  top: 55px;
  right: 373px;
  background-color: white;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.img_modal .largeImg {
  position: absolute;
  height:500px;
  width:600px;
  object-fit: scale-down;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 219, 88, 0.75);
  backdrop-filter: blur(2px);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
}

.modal_input {
  border: none;
  width: 500px;
}

.modal_content {
  display: flex;
  flex-direction:column;
  align-items: center;
  border: none;
  height: 60%;
  background-color: white;
  overflow-y: scroll;
  border: none;
  margin: 15px;
  height: 600px;
  width: 800px;
}

.modal_characteristics {
  display: flex;
  flex-direction: row;
  margin: 7px;
  justify-content: center;
  border: none;
}

.ratingSelection {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 8px;
  text-align: center;
  border: none;
}

.selected {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.modal_rating {
  margin: 15px;
}

p {
  font-size: 12px;
}

.addedImage {
  height: 50px;
  width: 50px;
  margin: 5px;
}

.uploadedImages {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.modalStars {
  display: flex;
  flex-direction: row;
  border: none;
  font-size: 24px;
  margin-top: 8px;
}

.starRadio {
  opacity: 0;
}

.selectedStar {
  margin-left: 12px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 4px;
}

.modal_recommend {
  border: none;
}

.reviewInput {
  width: 270px;
}

.closeModal {
  cursor: pointer;
  font-weight: bold;
  border: none;
  position: relative;
  top: 15px;
  left: 375px;
}